.button {
    width: 10rem;
    padding: 1rem;
    display: flex;
    align-content: center;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.75);
}

.button-solid {
    border: 0px;
    background-color: var(--primary-color);
    color: var(--button-text-color);
}

.button-outline {
    border: 2px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--button-text-color-dark);
    border-radius: 10px;
}