.card-holder {
    width: 300px;
    min-width: 300px;
    background-color: var(--bg-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.75);
}

img {
    width: 300px;
    height: 250px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}
