<div class="content">
    <div *ngIf="productList.length">
        <div class="search-area">
            <app-search (searched)="checkFor($event)"></app-search>
            <app-icon-button [image]="'./../../../assets/filter.png'" (click)="toggleMenu()" *ngIf="smallScreenFlag">
            </app-icon-button>
        </div>
        <div class="product-container">
            <div class="filter-menu" *ngIf="!smallScreenFlag">
                <ng-container *ngTemplateOutlet="FilterMenu"></ng-container>
            </div>
            <div class="product-list">
                <app-card
                    *ngFor="let item of (productList | searchProduct: filterObj[0] : filterObj[1] : filterObj[2] : filterObj[3] : filterObj[4])"
                    [price]="item.price" [name]="item.name" [image]="item.imageURL" (cardButtonClicked)="addToCart(item)">
                </app-card>
            </div>
        </div>
        <div class="filter-modal" *ngIf="smallScreenFlag && showModal">
            <div>
                <ng-container *ngTemplateOutlet="FilterMenu"></ng-container>
                <app-icon-button class="cancel-button" [image]="'./../../../assets/cancel.png'" (click)="toggleMenu()" *ngIf="smallScreenFlag">
                </app-icon-button>
            </div>
        </div>
    </div>
    <div>
        <app-empty-product></app-empty-product>
    </div>
</div>

<ng-template #FilterMenu>
    <app-filter-menu [filterList]="filterList" (filterUpdated)="filter($event)">
    </app-filter-menu>
</ng-template>